/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2022, 2:41:26 PM
    Author     : Hp
*/

.button{
    -fx-background-color: #00acc1;
    -fx-text-fill: white;
}

.sidebar-btn{
    -fx-background-color: transparent;
}

.sidebar-icon{
    -fx-fill: white;
}